.portfolio-page-content {
  h1 {
    text-align: center;
  }
  
  .post-single-content {
    padding: 0;
  }

  .trees-block:first-child {
    padding-top: rem(140px);
    
    @include media-below(md) {
      padding-top: rem(100px);
    }
  }
}
