.portfolio-page-content {
  h1 {
    text-align: center;
  }
  
  .post-single-content {
    padding: 0;
  }

  .trees-block:first-child {
    padding-top: 140px;
    
    @include media-below(md) {
      padding-top: 100px;
    }
  }
}
