.front-about {
  padding-top: 70px;
  padding-bottom: 100px;

  @include media-below(md) {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .container {
      @include media-below(md) {
        order: 2;
      }
    }
  }

  .img-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 42vw;
    width: 100%;

    img {
      object-position: left;
    }

    @include media-below(md) {
      order: 1;
      position: relative;      
      width: 720px;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 80px;
    }

    @include media-below(sm) {
      width: 540px;
    }

    @include media-below(xs) {
      width: 100%;
    }
  }

  &__image {
    @include media-below(md) {
      margin-bottom: 80px;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: var(--color-text-teal);
    
    @include media-below(md) {
      font-size: 10px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin-top: 50px;

    @include media-below(md) {
      font-size: 26px;
      line-height: 36px;
      margin-top: 50px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    margin-top: 12px;

    @include media-below(md) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__links {
    display: flex;
    margin-top: 72px;
    
    @include media-below(md) {
      margin-top: 44px;
    }

    a {
      font-size: 18px;
      line-height: 1;
      font-weight: 700;
      
      @include media-below(md) {
        font-size: 14px;
      }
    }

    a + a::before {
      content: "\\";
      display: inline-block;
      color: var(--color-red);
      margin: 0 10px;
    }
  }
}
