.swiper.swiper-container.-instagramSlider {
  overflow: visible;

  .swiper-wrapper {
  }
}

.instagram {
  &__section {
    padding-top: rem(160px);
    
    @include media-below(md) {
      padding-top: 0;

      .container {
        width: 100%;
        padding: 0;
      }
    }
  }

  &__inner {
    overflow: hidden;
    padding: rem(160px) rem(100px);
    
    @include media-below(md) {
      padding: rem(180px) rem(25px);
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    margin-bottom: rem(36px);
    
    @include media-below(md) {
      font-size: rem(21px);
      line-height: rem(32px);
      margin-bottom: rem(10px);
    }
  }

  &__feed {}
}
