.instagram {
  &__section {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    margin-bottom: 36px;
  }

  &__feed {}
}
