.front-blog__col-3 {
  padding-top: 150px;
  padding-bottom: 80px;

  @include media-below(md) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @include media-below(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .row.swiper-wrapper .swiper-slide {
    height: unset;
  }
}

.postCard.-col-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postCard.-col-3 .postCard {
  &__image {
    img {}

    &::after {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      background-color: #D8D8D8;
      margin-top: 16px;
    }
  }

  // &__content {}

  &__title {
    margin-top: 34px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;

    display: flex;
    flex: 1 1 auto;
    
    @include media-below(lg) {
      font-size: 26px;
      line-height: 28px;
    }
  }

  &__text {
    margin-top: 52px;
    max-width: 80%;
    
    p {
      font-size: 21px;
      line-height: 32px;
      color: black;
    }

    @include media-below(lg) {
      margin-top: 30px;
      max-width: 100%;

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}




.front-blog__col-1 {
  padding-top: 100px;
  padding-bottom: 160px;

  @include media-below(md) {
    padding-top: 100px;
    // padding-bottom: 180px;
  }

  > .container {
    > * + * {
      margin-top: 100px;

      @include media-below(md) {
        margin-top: 56px;
      }
    }
  }
}

.postCard.-col-1 .postCard {
  &__image {
    img {}
  }

  &__content {
    position: relative;
    height: 100%;

    @include media-below(md) {
      margin-top: 34px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    letter-spacing: 0.2em;
    
    @include media-below(md) {
      margin-bottom: 30px;
    }

    a {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: var(--color-text-teal);

      @include media-below(md) {
        font-size: 10px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    
    @include media-below(md) {
      font-size: 26px;
      line-height: 30px;
    }
  }

  &__text {
    margin-top: 20px;
    
    p {
      font-size: 24px;
      line-height: 36px;
    }
    
    @include media-below(md) {
      margin-top: 18px;

      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  &__category {
    position: absolute;
    bottom: 0;

    a {
      font-size: 18px;
      font-weight: 500;

      @include media-below(md) {
        font-size: 14px;
      }
    }

    &::before {
      font-weight: 700;
      content: "\\";
      display: inline-block;
      margin-right: 10px;
      color: var(--color-red);
    }

    @include media-below(md) {
      position: relative;
      margin-top: 30px;
    }
  }
}
