.sectionLink {
  &.-pb {
    // padding-bottom: rem(140px);
    padding-bottom: rem(40px);

    @include media-below(lg) {
      padding-bottom: rem(34px);
    }
  }

  &.-pb-sm {
    padding-bottom: rem(34px);
  }

  &__line {
    width: 100%;
    height: rem(1px);
    background-color: #D8D8D8;
  }

  &__arrow {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(24px);

    .icon {
      width: rem(56px);
      height: rem(56px);
      stroke-width: 2;
      stroke-linecap: butt;
      color: black;

      @include media-below(lg) {
        width: rem(32px);
        height: rem(32px);
      }
    }

    @include media-below(md) {
      margin-top: rem(12px);
    }
  }
}

body.body-theme.dark-theme {
  .sectionLink {
    &__line {
      background-color: rgba(white, 0.1);
    }

    &__arrow {
      color: white;
    }
  }
}
