@import "~swiper/swiper-bundle.min.css";

.swiper-section {
  overflow: hidden;
}

.swiper.swiper-container.-section {
  @include media-below(md) {
    overflow: visible;

    .row {
      flex-wrap: nowrap;
      margin: 0;
    }

    .row > * {
      padding: 0;
      flex: unset;
      flex-shrink: 0;
      max-width: unset;
    }
  }

  .swiper-wrapper {
    box-sizing: inherit;
    width: unset;
    
    @include media-below(md) {
      width: 100%;
      box-sizing: content-box;
    }
  }

  .swiper-slide {}
}
