.testimonials {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 200px;

  @include media-below(md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  &__content {}

  &__header {
    display: flex;
    align-items: center;

    @include media-below(md) {
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__stars {
    display: flex;

    .icon {
      width: 32px;
      height: 32px;
      stroke-width: 1;
      color: var(--color-teal);
      fill: var(--color-teal);

      @include media-below(md) {}
    }

    .icon + .icon {
      margin-left: 5px;
    }
  }

  &__author {
    margin-left: 24px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;

    @include media-below(md) {
      margin-left: 0;
      margin-top: 24px;
    }
  }

  &__text {
    font-size: 42px;
    line-height: 64px;
    margin-top: 30px;
    font-weight: 300;
    
    p {
      color: white;
    }
    
    @include media-below(md) {
      font-size: 24px;
      line-height: 42px;
      margin-top: 24px;
    }
  }

  &__button {
    display: block;
    margin-top: 40px;
    
    a {
      color: white;
    }

    @include media-below(md) {
      margin-top: 28px;
    }
  }
}
