.testimonials {
  padding-top: 80px;
  padding-bottom: 180px;
  
  &__content {}

  &__header {
    display: flex;
    align-items: center;
  }

  &__stars {
    display: flex;

    .icon {
      font-size: 32px;
      color: var(--color-teal);
      stroke-width: 1;
      fill: var(--color-teal);
    }

    .icon + .icon {
      margin-left: 4px;
    }
  }

  &__author {
    margin-left: 24px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__text {
    font-size: 42px;
    line-height: 64px;
    margin-top: 30px;
  }

  &__button {
    display: block;
    margin-top: 40px;
  }
}
