.testimonials {
  background-color: black;
  padding-top: rem(100px);
  padding-bottom: rem(200px);

  @include media-below(md) {
    padding-top: rem(70px);
    padding-bottom: rem(70px);
  }
  
  &__content {}

  &__header {
    display: flex;
    align-items: center;

    @include media-below(md) {
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__stars {
    display: flex;

    .icon {
      width: rem(32px);
      height: rem(32px);
      stroke-width: 1;
      color: var(--color-teal);
      fill: var(--color-teal);

      @include media-below(md) {}
    }

    .icon + .icon {
      margin-left: rem(5px);
    }
  }

  &__author {
    margin-left: rem(24px);
    font-size: rem(14px);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;

    p {
      color: rgba(white, 0.4);
    }

    @include media-below(md) {
      margin-left: 0;
      margin-top: rem(24px);
    }
  }

  &__text {
    font-size: rem(42px);
    line-height: rem(64px);
    margin-top: rem(30px);
    font-weight: 300;
    
    p {
      color: white;
    }
    
    @include media-below(md) {
      font-size: rem(24px);
      line-height: rem(42px);
      margin-top: rem(24px);
    }
  }

  &__button {
    display: inline-block;
    color: white;
    margin-left: rem(16px);
  }
}
