.-mobile-padding.-about-right {
  padding-left: rem(36px) !important;

  @include media-below(md) {
    padding-left: rem(15px) !important;
    padding-right: rem(15px) !important;
  }

  @include media-below(xs) {
    // padding-left: 0 !important;
    // padding-right: 0 !important;
  }
}

@include media-below(md) {
  .md\:d-none {
    display: none;
  }
}


.about-page-info {
  &__image {}

  &__row_1 {}

  &__row_2 {}
}


.about-page-info {
  &__section {
    padding-top: rem(300px);
    padding-bottom: rem(180px);

    @include media-below(md) {
      padding-top: rem(120px);
      padding-bottom: rem(60px);
    }
  }

  &__image {
    margin-top: rem(100px);
    margin-bottom: rem(100px);

    @include media-below(md) {
      margin-top: rem(100px);
      margin-bottom: rem(60px);
    }

    @include media-below(sm) {
      margin-top: rem(60px);
      margin-bottom: rem(30px);
    }

    // img {
    //   width: 100%;
    //   height: auto;
    // }
  }

  &__content {}

  &__subtitle {
    font-size: rem(14px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text-teal);
    letter-spacing: 0.2em;
    margin-bottom: rem(40px);

    @include media-below(md) {
      font-size: rem(10px);
      margin-bottom: rem(22px);
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    
    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
      font-weight: 700;
    }
  }

  &__text {
    margin-top: rem(16px);

    a {
      font-size: rem(18px);
      font-weight: 700;
      color: black;

      &::before {
        content: "\\";
        font-size: rem(18px);
        font-weight: 700;
        margin-left: rem(12px);
        margin-right: rem(12px);
        color: var(--color-orange);
      }
    }

    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;

      @include media-below(md) {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }

    p + p {
      margin-top: 1.4rem;
    }
  }
}


.about-page-team {
  &__section {
    padding-top: rem(180px);
    padding-bottom: rem(160px);

    @include media-below(md) {
      padding-top: rem(140px);
      padding-bottom: rem(140px);
    }
  }

  &__title {
    font-size: rem(42px);
    line-height: rem(56px);
    font-weight: 700;

    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
    }

    &::after {
      content: '';
      display: block;
      width: rem(78px);
      height: rem(1px);
      background-color: black;
      margin-top: rem(50px);

      @include media-below(md) {
        display: none;
      }
    }
  }

  &__text {
    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;
    }

    @include media-below(md) {
      margin-top: rem(36px);

      p {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }

  &__grid {
    margin-top: rem(110px);
    margin-bottom: rem(-30px);
    margin-left: rem(-30px);
    margin-right: rem(-30px);

    @include media-below(md) {
      margin-top: rem(70px);
    }

    > * {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
      padding-left: rem(30px);
      padding-right: rem(30px);
    }


    > *:nth-child(2n) {
      padding-top: rem(120px);
      @include media-below(md) { padding-top: rem(30px); }
    }
  }
}

.team-card {
  position: relative;

  &__position {
    transform-origin: right;
    transform: rotate(-90deg);
    position: absolute;
    top: -rem(7px);
    right: calc(100% - 7px);
    text-align: right;
    white-space: nowrap;

    font-size: rem(14px);
    line-height: 1;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 700;
    color: #B9B9B9;
  }

  &__image {
    padding-left: rem(29px);

    img {
      padding: 15px;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__name {
    text-align: right;
    margin-top: rem(26px);
    font-size: rem(28px);
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 500;

    @include media-below(md) {
      margin-top: rem(20px);
      font-size: rem(21px);
    }
  }
}


.about-page-about {
  &__section {
    padding-top: rem(180px);
    padding-bottom: rem(180px);

    @include media-below(md) {
      padding-top: rem(140px);
      padding-bottom: rem(140px);
    }
  }

  &__title {
    font-size: rem(42px);
    line-height: rem(56px);
    font-weight: 700;
    color: white;

    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
    }

    &::after {
      content: '';
      display: block;
      width: rem(78px);
      height: rem(1px);
      background-color: white;
      margin-top: rem(50px);

      @include media-below(md) {
        display: none;
      }
    }
  }

  &__text {
    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;
      color: white;
    }

    @include media-below(md) {
      margin-top: rem(36px);

      p {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }
}

.about-page-about__inner {
  margin-top: rem(220px);
  
  @include media-below(md) {
    margin-top: rem(80px);
  }

  .row {
    margin-left: rem(-60px);
    margin-right: rem(-60px);

    > * {
      padding-left: rem(60px);
      padding-right: rem(60px);
    }
  }

  .inner-item + .inner-item {
    margin-top: rem(300px);

    @include media-below(md) {
      margin-top: rem(120px);
    }
  }

  .image {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
  
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: rem(40px);
    padding-left: rem(40px);

    @include media-below(lg) {
      height: unset;
      padding-right: 0;
      padding-left: 0;
    }

    @include media-below(md) {
      // padding-right: 0;
      margin-top: rem(40px);
    }
  }
  
  .subtitle {
    color: var(--color-teal);
    font-size: rem(14px);
    line-height: 1;
    letter-spacing: 0.2em;
    font-weight: 500;
    margin-bottom: rem(40px);
    text-transform: uppercase;
    
    @include media-below(md) {
      margin-bottom: rem(36px);
    }
  }
  
  .title {
    font-size: rem(42px);
    line-height: 1.2;
    font-weight: 500;
    color: white;
    
    @include media-below(md) {
      font-weight: 700;
      font-size: rem(32px);
      line-height: rem(44px);
    }
  }
  
  .text {
    margin-top: rem(34px);

    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;
      color: white;
    }

    @include media-below(md) {
      margin-top: rem(34px);
      
      p {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }
}


.about-page-cta {
  &__section {
    .container {
      border-top: rem(1px) solid white;
      padding-top: rem(220px);
      padding-bottom: rem(220px);

      @include media-below(md) {
        padding-top: rem(180px);
        padding-bottom: rem(180px);
      }
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    color: white;

    @include media-below(md) {
      font-size: rem(34px);
      line-height: rem(48px);
      max-width: rem(336px);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__button {
    @include media-below(md) {
      margin-top: rem(36px);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: rem(30px);
      width: rem(136px);
      height: rem(136px);
      background-color: var(--color-red);
      font-size: rem(14px);
      line-height: 1.2;
      font-weight: 500;
      color: white;
      text-transform: uppercase;
      padding: rem(20px);
      border-radius: 100%;
      text-align: center;

      &:hover {
        color: white !important;
      }
    }
  }
}
