.post-single-comments {
  margin-top: rem(80px);
}

.comment-list {
  border-top: rem(1px) solid black;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  width: 100%;

  ul {
    list-style: none;
  }

  > li.comment {
    padding: rem(20px) 0;
  }

  li.comment + li.comment {
    margin-top: rem(20px);
  }

  ul.children {
    margin-top: rem(30px);
    padding-left: rem(24px);
  }

  .comment-body {
    width: 100%;
    display: flex;
  }

  .comment-author {
    img {
      border-radius: 100%;
      width: rem(100px);
      height: rem(100px);

      @include media-below(md) {
        width: rem(48px);
        height: rem(48px);
      }
    }
  }

  .comment-content {
    width: 100%;
    margin-left: rem(24px);

    @include media-below(md) {
      margin-left: rem(8px);
    }
  }

  .comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fn {
    font-size: rem(18px);
    line-height: rem(24px);
    font-weight: 700;
    
    @include media-below(md) {
      font-size: rem(16px);
    }
  }

  .comment-metadata {
    a {
      font-weight: 500;
      text-transform: uppercase;
      font-size: rem(14px);
      line-height: rem(24px);
      color: #A8A8A8;
      
      @include media-below(md) {
        font-size: rem(12px);
      }
    }
  }

  p {
    font-size: rem(17px);
    line-height: rem(27px);
    font-weight: 300;
    margin-top: rem(16px);

    @include media-below(md) {
      font-size: rem(12px);
      line-height: rem(21px);
      margin-top: rem(12px);
    }
  }

  .reply,
  .edit-link {
    display: inline-block;
    margin-top: rem(12px);
    
    @include media-below(md) {
      margin-top: rem(8px);
    }

    a {
      font-weight: 500;
      text-transform: uppercase;
      font-size: rem(14px);
      line-height: rem(24px);
      color: #A8A8A8;
      
      @include media-below(md) {
        font-size: rem(12px);
      }
    }
  }

  .reply {}

  .edit-link {
    margin-left: rem(10px);
  }
}


.reply-form {
  .comment-reply-title {}

  .logged-in-as {}

  label {
    display: block;
    font-size: rem(13px);
    line-height: 1;
    color: rgba(black, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-20px);

    p {
      padding: rem(20px);
      width: 100%;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      width: 33%;

      @include media-below(md) {
        width: 100%;
      }
    }

    p.comment-form-comment {
      order: 5;
    }

    p.comment-form-cookies-consent {
      order: 9;
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        height: 100%;
      }

      label {
        letter-spacing: normal;
        color: black;
        font-weight: 400;
        font-size: rem(16px);
        text-transform: none;
        margin: 0;
        margin-left: rem(8px);
        line-height: 1.4;
      }
    }

    p.form-submit {
      order: 10;
      display: flex;
      justify-content: flex-end;

      input {
        border: none;
        padding: rem(20px) rem(40px);
        border-radius: rem(200px);
        background-color: black;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
        font-size: rem(14px);
        line-height: rem(24px);
        display: flex;
        justify-content: center;
        align-self: center;

        &:hover {
          background-color: rgb(49, 49, 49) !important;
        }
      }
    }

    input:not([type="checkbox"]):not([type="submit"]),
    textarea {
      width: 100%;
      border: 0;
      padding: 0;
      margin: 0;

      padding: rem(6px) 0;
      border-bottom: rem(1px) solid black;

      &:focus {
        outline: none;
        background-color: rgba(black, 0.05);
      }
    }

    input {}

    textarea {}
  }
}
