.footer {
  &__section {
    // padding-top: 150px;
    padding-bottom: 20px;

    &.-black .footer__cta { background-color: black; }
    &.-blue .footer__cta { background-color: var(--color-blue); }
    &.-teal .footer__cta { background-color: var(--color-teal); }
    &.-beige .footer__cta { background-color: var(--color-beige); }
    &.-orange .footer__cta { background-color: var(--color-orange); }
    &.-red .footer__cta { background-color: var(--color-red); }
    &.-light-azure {
      .footer__cta { background-color: #E6F4F4; }
      .footer__circle { background-color: #F2F6F6; }
      .footer__title { color: #6BBCB9; }
    }

    @include media-below(sm) {
      padding-top: 0;

      .container {
        padding: 0;
      }
    }
  }

  &__cta {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    @include media-below(md) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__circle {
    position: absolute;
    width: 85%;
    border-radius: 100%;
    background-color: rgba(white, 0.1);
    
    @include media-below(md) { width: 120%; }
    @include media-below(sm) { width: 130%; }
    @include media-below(xs) { width: 160%; }
  }

  &__title {
    color: white !important;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;

    @include media-below(md) {
      font-size: 24px;
      padding: 0 40px;
      padding: 0 17vw;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    @include media-below(md) {
      margin-top: 24px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    font-size: 16px;

    @include media-below(md) {
      // display: none;
      margin-bottom: 4px;
    }

    .icon {
      fill: black;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  
  &__socials {
    display: flex;

    > div + div {
      &::before {
        font-weight: 700;
        content: '\\';
        color: var(--color-red);
        margin: 0 8px;
      }
    }

    a {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
