.front-header {
  padding-top: 320px;
  padding-bottom: 140px;

  @include media-below(lg) {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--color-text-teal);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    @include media-below(md) {
      font-size: 10px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 64px;
    line-height: 84px;
    margin-top: 40px;
    color: black;

    @include media-below(lg) {
      font-size: 28px;
      line-height: 38px;
      margin-top: 18px;
    }
  }
}

.headline {
  &__container {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    width: 40%;
    min-width: 200px;

    span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      font-weight: 500;
    }

    span.is-visible {
      position: relative;
      transform: translateY(0);
    }
  }
}
