.front-header {
  padding-top: 340px;
  padding-bottom: 320px;

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--color-text-teal);
    text-transform: uppercase;
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    margin-top: 40px;
    color: black;
  }
}