.insight-header {
  padding-top: rem(300px);
  padding-bottom: rem(130px);

  @include media-below(md) {
    padding-top: rem(150px);
    padding-bottom: 0;
  }

  &__gap {
    margin-left: rem(-36px);
    margin-right: rem(-36px);
    
    > * {
      padding-left: rem(36px);
      padding-right: rem(36px);
    }
  }

  &__subtitle {
    font-size: rem(14px);
    line-height: 1;
    margin-bottom: rem(48px);
    letter-spacing: 0.2em;
    color: var(--color-text-teal);
    text-transform: uppercase;
    font-weight: 500;
    
    @include media-below(md) {
      font-size: rem(10px);
      margin-bottom: rem(22px);
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    
    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
      font-weight: 700;
    }
  }

  &__text {
    margin-top: rem(16px);
    
    p {
      font-weight: 300;
      font-size: rem(24px);
      line-height: rem(42px);
    }
    
    @include media-below(md) {
      margin-top: rem(20px);
      
      p {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }
}

.insight-header-quote.insight-page {
  padding: rem(110px) rem(56px);
}

.insight-header-quote {
  background-color: black;
  padding: rem(120px) rem(70px);

  p {
    font-size: rem(22px);
    line-height: 1.8;
    color: white;
  }

  @include media-below(md) {
    padding: rem(80px) rem(32px);
    margin-top: rem(60px);

    p {
      font-size: rem(18px);
    }
  }

  &__comment {}
  
  &__author {
    margin-top: rem(50px);
    font-weight: 700;

    @include media-below(md) {
      margin-top: rem(36px);
    }

    @include media-below(xs) {
      font-size: 3.75vw !important;
      line-height: 1.8 !important;
    }

    span {
      color: var(--color-red);
    }
  }
}
