.post-single {
  &__section {
    overflow: hidden;
    padding-top: rem(280px);
    padding-top: rem(220px);
    padding-bottom: rem(80px);

    @include media-below(md) {
      padding-top: rem(100px);
      padding-bottom: rem(20px);
    }
  }

  &__article {}
}

.post-single-header {
  &__lines {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(26%) rotate(27deg);
    display: flex;
    flex-wrap: wrap;

    span {
      width: 120vw;
      height: rem(1px);
      margin: rem(30px) 0;
      background-color: rgba(black, 0.5);
      
      @include media-below(md) {
        margin: rem(20px) 0;
        background-color: rgba(black, 0.2);
      }
    }
  }

  &__left {
    padding-right: rem(30px);
    
    @include media-below(md) {
      padding-right: 0;
    }
  }

  &__category {
    font-size: rem(14px);
    line-height: 1;
    letter-spacing: 0.2em;
    color: var(--color-text-teal);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem(50px);
    
    @include media-below(md) {
      font-size: rem(10px);
      margin-bottom: rem(34px);
    }
  }

  &__title {
    font-size: rem(64px);
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: 700;

    @include media-below(md) {
      font-size: rem(32px);
    }
  }

  &__excerpt {
    margin-top: rem(12px);
    font-size: rem(40px);
    font-size: rem(30px);
    line-height: 1.3;
    padding-right: rem(80px);
    
    @include media-below(md) {
      margin-top: rem(20px);
      font-size: rem(22px);
      padding-right: 0;
    }
  }

  &__content {
    margin-top: rem(45px);

    @include media-below(md) {
      margin-top: rem(35px);
    }
    
    p {
      margin-top: rem(30px);
      font-size: rem(21px);
      line-height: rem(42px);
      font-size: rem(18px);
      line-height: 1.9;
      font-weight: 300;

      @include media-below(md) {
        margin-top: rem(24px);
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }


  &__right {
    padding-left: rem(56px);

    @include media-below(md) {
      padding-left: 0;
    }
  }


  &__image {
    @include media-below(md) {
      margin-top: rem(48px);
    }

    img {
      width: 100%;
      height: auto;
    }

    // @include media-below(md) {
    //   display: none;
    // }
  }

  // &__mobile-image {
  //   display: none;
  //   margin-bottom: rem(60px);

  //   @include media-below(md) {
  //     display: block;
  //   }

  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
}


.post-author {
  position: relative;
  padding: rem(24px);
  background-color: black;
  display: flex;
  margin-top: rem(15px);
  align-items: center;

  @media (min-width: rem(992px)) and (max-width: (rem(1470px))) {
    flex-wrap: wrap;
  }

  &.-post-bottom {
    // margin-top: rem(100px);

    // @include media-below(md) {
    //   margin-top: rem(80px);
    // }
  }

  &:not(.-post-bottom) {
    .post-author__content {
      @media (min-width: rem(992px)) and (max-width: (rem(1470px))) {
        margin-left: 0;
        padding-right: 0;
        width: 100%;
        margin-top: rem(20px);
      }
    }
  }

  &.-grey {
    background-color: #F7F7F7;
    .post-author__content { color: black; }
  }
  &.-black {
    background-color: black;
    .post-author__content { color: white; }
  }
  &.-beige {
    background-color: #F2F2E5;
    .post-author__content { color: black; }
  }
  &.-teal {
    background-color: #E7F1F1;
    .post-author__content { color: black; }
  }
  &.-light-yellow {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-light-azure {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }

  &__image {
    img {
      border: rem(2px) solid white;
      border-radius: 100%;
      width: rem(68px);
      height: rem(68px);

      @include media-below(md) {
        width: rem(48px);
        height: rem(48px);
      }
    }
  }

  &__content {
    // color: white;
    font-size: rem(15px) !important;
    line-height: rem(26px) !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: rem(20px);
    padding-right: rem(100px);

    @include media-below(md) {
      font-size: rem(13px) !important;
      line-height: rem(21px) !important;
      padding-right: rem(54px);
    }
  }

  &__name {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;

    @include media-below(sm) {
      display: block;
    }
  }
  
  &__position {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500 !important;

    span {
      color: var(--color-red);
      padding: 0 rem(6px);
    }

    @include media-below(md) {
      margin-top: 4px;
    }

    @include media-below(sm) {
      display: block;
      
      span {
        display: none;
        display: block;
        height: 0;
      }
    }
  }

  &__socials {
    display: flex;
    position: absolute;
    top: rem(12px);
    right: rem(12px);

    .item {
      background-color: white;
      border-radius: 100%;
      width: rem(36px);
      height: rem(36px);
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-below(md) {
        width: rem(25px);
        height: rem(25px);
      }
    }

    .item + .item {
      margin-left: rem(6px);
    }

    .icon {
      font-size: rem(16px);
      color: black;
    }
  }
}

.post-quote {
  margin-top: rem(15px);
  padding: 100px 70px 90px;
  padding: rem(76px) rem(56px) rem(70px);

  @include media-below(md) {
    padding: rem(80px) rem(48px);
  }

  @include media-below(xs) {
    padding: rem(40px) rem(34px);
  }
  
  &.-grey {
    background-color: #F7F7F7;
    .quote, .author { color: black; }
  }
  &.-black {
    background-color: black;
    .quote, .author { color: white; }
  }
  &.-beige {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-teal {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }
  &.-light-yellow {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-light-azure {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }

  .quote {
    font-size: rem(16px);
    line-height: 1.8;
    color: white;
  
    @include media-below(md) {
      font-size: rem(18px);
    }
  }

  .author {
    margin-top: rem(32px);
    font-size: rem(16px);
    line-height: 1.8;
    font-weight: 700;
    color: white;

    @include media-below(md) {
      margin-top: rem(36px);
      font-size: rem(18px);
    }
  }
}



.post-single-content {
  padding-top: rem(200px);
  padding-bottom: rem(80px);
  width: 100%;

  @include media-below(md) {
    padding-top: rem(100px);
    padding-bottom: rem(80px);
  }

  .trees-block {
    overflow: hidden;
    width: 100%;
  }

  .elementor-section:first-child {
    .trees-block {
      padding-bottom: rem(90px);
    }
  }

  .elementor-section:not(:first-child) {
    .trees-block {
      padding-top: rem(90px);
      padding-bottom: rem(90px);
      
      @include media-below(md) {
        padding-top: rem(50px);
        padding-bottom: rem(50px);
      }
    }
  }


  .trees-block {
    strong {
      font-weight: 700;
    }

    a {
      font-weight: 400;
      text-decoration: underline;
    }

    img {
      width: 100%;
      height: auto;
    }
  
    h2 {
      font-weight: 700;
      font-size: rem(42px);
      line-height: rem(51px);
  
      @include media-below(md) {
        font-size: rem(32px);
        line-height: rem(48px);
      }
    }
  
    p {
      margin-top: rem(44px);
      font-size: rem(21px);
      line-height: rem(42px);
      font-weight: 300;
      
      @include media-below(md) {
        font-size: rem(16px);
        line-height: rem(34px);
        margin-top: rem(30px);
      }
    }

    ul {
      padding-left: rem(20px);
      list-style: disc;

      li {
        font-size: rem(21px);
        line-height: rem(42px);
        font-weight: 300;

        @include media-below(md) {
          font-size: rem(16px);
          line-height: rem(26px);

          + li {
            margin-top: rem(14px);
          }
        }
      }
    }
  }

  .trees-block.-light {
    color: white;
    
    h1, h2, h3, h4, h5, h6,
    p, a {
      color: white;
    }
  }
}


.trees-block {
  .text-content {
    > * {
      margin-top: rem(44px);

      @include media-below(md) {
        margin-top: rem(28px);
      }
    }
    > *:first-child {
      margin-top: 0;
    }
  }
}


.trees-block {
  &-post_content_left {
    .row {
      margin-top: rem(-40px);
      margin-bottom: rem(-40px);

      > * {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
      }
    }

    &.-with-bg {
      padding-top: rem(80px);
      padding-bottom: rem(80px);

      @include media-below(md) {
        padding-top: rem(100px);
        padding-bottom: rem(100px);
      }
    }
  }

  &-post_content_right {
    .row {
      margin-top: rem(-40px);
      margin-bottom: rem(-40px);

      > * {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
      }
    }

    &.-with-bg {
      padding-top: rem(80px);
      padding-bottom: rem(80px);

      @include media-below(md) {
        padding-top: rem(100px);
        padding-bottom: rem(100px);
      }
    }
  }

  .text-content {
    &.-dark {
      color: black;
      h2, p { color: black; }
    }

    &.-light {
      color: white;
      h2, p { color: white; }
    }
  }


  &-post_cta {
    .wrapper {
      padding-top: rem(200px);
      padding-bottom: rem(200px);
      border-top: rem(1px) solid #D8D8D8;
      border-bottom: rem(1px) solid #D8D8D8;

      @include media-below(md) {
        padding-top: rem(130px);
        padding-bottom: rem(130px);
      }
    }

    .title {
      font-size: rem(48px);
      line-height: 1.2;
      font-weight: 500;
      
      @include media-below(md) {
        font-size: rem(34px);
        text-align: center;
      }
    }

    .button {
      text-align: center;

      @include media-below(md) {
        margin-top: rem(40px);
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-transform: uppercase;
        color: white;
        padding: rem(15px);
        width: rem(140px);
        height: rem(140px);
        background-color: var(--color-red);
        font-size: rem(14px);
        line-height: 1.1;
        font-weight: 500;
      }
    }
  }
  
  &-post_features {
    .row {
      margin: rem(-20px) !important;
      > * { padding: rem(20px) !important; }

      @include media-below(md) {
        margin: 0 !important;
        > * { padding: 0 !important; }
      }
    }

    .content {
      background-color: #F7F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: rem(300px);
      width: 100%;
      padding: rem(40px) rem(60px);
      
      @include media-below(md) {
        padding: rem(40px) rem(40px);
        height: rem(260px);
      }
    }

    .title {
      font-size: rem(28px);
      line-height: 1.4;
      font-weight: 500;
      letter-spacing: 0.04;

      @include media-below(md) {
        font-size: rem(21px);
      }
    }

    &.-light {
      .content {
        background-color: #161616;
      }
    }
  }


  &-post_two_colums_text {
    .row {
      margin-top: rem(-26px);
      margin-bottom: rem(-26px);

      > * {
        padding-top: rem(26px);
        padding-bottom: rem(26px);
      }
    }
  }

  &-post_title_text {
    .title {
      font-size: rem(32px) !important;
      line-height: rem(39px) !important;
      font-weight: 700;
  
      @include media-below(md) {
        font-size: rem(32px) !important;
        line-height: rem(48px) !important;
        margin-bottom: rem(20px);
      }
  
      &::after {
        content: '';
        display: block;
        width: rem(78px);
        height: rem(1px);
        background-color: black;
        margin-top: rem(40px);
  
        @include media-below(md) {
          display: none;
        }
      }
    }
  
    .text-content {
      @include media-below(md) {
        margin-top: 0 !important;
      }
    }

    &.-light {
      .title::after {
        background-color: white;
      }
    }
  }

  &-post_media {
    .image {

      img {}
    }
  }
}


.post-p-0 {
  padding: 0 !important;
}

.-trees-pt {
  &-0 { padding-top: 0 !important; }
  &-sm { padding-top: rem(60px) !important; }
  &-md { padding-top: rem(90px) !important; }
  &-lg { padding-top: rem(120px) !important; }
  &-xl { padding-top: rem(160px) !important; }

  @include media-below(md) {
    &-sm { padding-top: rem(60px) !important; }
    &-md { padding-top: rem(60px) !important; }
    &-lg { padding-top: rem(60px) !important; }
    &-xl { padding-top: rem(60px) !important; }
  }
}

.-trees-pb {
  &-0 { padding-bottom: 0 !important; }
  &-sm { padding-bottom: rem(60px) !important; }
  &-md { padding-bottom: rem(90px) !important; }
  &-lg { padding-bottom: rem(120px) !important; }
  &-xl { padding-bottom: rem(160px) !important; }

  @include media-below(md) {
    &-sm { padding-bottom: rem(60px) !important; }
    &-md { padding-bottom: rem(60px) !important; }
    &-lg { padding-bottom: rem(60px) !important; }
    &-xl { padding-bottom: rem(60px) !important; }
  }
}


.bg {
  &-white { background-color: #ffffff !important; } // body

  &-blue-grey { background-color: #d6d7d9 !important; } // body
  &-light-grey { background-color: #f9f9f9 !important; } // body

  &-dark { background-color: #333333 !important; }
  &-dark-2 { background-color: #232323 !important; }
  &-dark-3 { background-color: #181818 !important; }

  &-black { background-color: #0f0f0f !important; } // body
}


.related-posts {
  padding: 0 !important;

  .container {
    // padding-top: rem(120px);
    padding-top: rem(40px);
    padding-bottom: rem(20px);
    
    @include media-below(md) {
      padding-top: rem(60px) !important;
      padding-bottom: rem(80px) !important;
    }
  }

  &__title {
    border-top: rem(1px) solid black;
    font-size: rem(32px);
    line-height: rem(40px);
    padding-top: rem(100px);
    padding-bottom: rem(30px);

    @include media-below(md) {
      display: none;
    }
  }

  .sectionLink {
    display: none;

    @include media-below(md) {
      display: block;
    }
  }
}
