.post-single {
  &__section {
    padding-top: 280px;
    padding-bottom: 80px;

    @include media-below(md) {
      padding-top: 50px;
    }
  }

  &__article {}
}

.post-single-header {
  &__left {
    padding-right: 30px;
    
    @include media-below(md) {
      padding-right: 0;
    }
  }

  &__category {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: var(--color-text-teal);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
    
    @include media-below(md) {
      font-size: 10px;
    }
  }

  &__title {
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;

    @include media-below(md) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  &__excerpt {
    margin-top: 12px;
    font-size: 40px;
    line-height: 52px;
    padding-right: 80px;
    
    @include media-below(md) {
      margin-top: 24px;
      font-size: 28px;
      line-height: 38px;
      padding-right: 0;
    }
  }

  &__content {
    margin-top: 45px;

    @include media-below(md) {
      margin-top: 35px;
    }
    
    p {
      margin-top: 30px;
      font-size: 21px;
      line-height: 42px;

      @include media-below(md) {
        margin-top: 24px;
        font-size: 16px;
        line-height: 34px;
      }
    }
  }


  &__right {
    padding-left: 72px;

    @include media-below(md) {
      padding-left: 0;
    }
  }


  &__image {
    @include media-below(md) {
      margin-top: 48px;
    }

    img {
      width: 100%;
      height: auto;
    }

    // @include media-below(md) {
    //   display: none;
    // }
  }

  // &__mobile-image {
  //   display: none;
  //   margin-bottom: 60px;

  //   @include media-below(md) {
  //     display: block;
  //   }

  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
}


.post-author {
  position: relative;
  padding: 24px;
  background-color: black;
  display: flex;
  margin-top: 15px;
  align-items: center;

  @media (min-width: 992px) and (max-width: (1470px)) {
    flex-wrap: wrap;
  }

  &.-post-bottom {
    margin-top: 100px;

    @include media-below(md) {
      margin-top: 80px;
    }
  }

  &:not(.-post-bottom) {
    .post-author__content {
      @media (min-width: 992px) and (max-width: (1470px)) {
        margin-left: 0;
        padding-right: 0;
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  &.-grey {
    background-color: #F7F7F7;
    .post-author__content { color: black; }
  }
  &.-black {
    background-color: black;
    .post-author__content { color: white; }
  }
  &.-beige {
    background-color: #F2F2E5;
    .post-author__content { color: black; }
  }
  &.-teal {
    background-color: #E7F1F1;
    .post-author__content { color: black; }
  }
  &.-light-yellow {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-light-azure {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }

  &__image {
    img {
      border: 2px solid white;
      border-radius: 100%;
      width: 68px;
      height: 68px;

      @include media-below(md) {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__content {
    // color: white;
    font-size: 18px !important;
    line-height: 26px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    padding-right: calc(12px + 36px + 36px + 6px + 10px);

    // @media (min-width: 992px) and (max-width: (1470px)) {
    //   margin-left: 0;
    //   padding-right: 0;
    //   width: 100%;
    //   margin-top: 20px;
    // }

    @include media-below(md) {
      font-size: 12px !important;
      line-height: 21px !important;
      padding-right: calc(12px + 25px + 25px + 6px + 10px - 24px);
    }
  }

  &__name {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
  }
  
  &__position {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500 !important;

    span {
      color: var(--color-red);
      padding: 0 8px;
    }
  }

  &__socials {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;

    .item {
      background-color: white;
      border-radius: 100%;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-below(md) {
        width: 25px;
        height: 25px;
      }
    }

    .item + .item {
      margin-left: 6px;
    }

    .icon {
      font-size: 16px;
      color: black;
    }
  }
}

.post-quote {
  margin-top: 15px;
  padding: 120px 70px;
  padding-bottom: 100px;

  @include media-below(md) {
    padding: 80px 48px;
  }
  
  &.-grey {
    background-color: #F7F7F7;
    .quote, .author { color: black; }
  }
  &.-black {
    background-color: black;
    .quote, .author { color: white; }
  }
  &.-beige {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-teal {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }
  &.-light-yellow {
    background-color: #F2F2E5;
    .quote, .author { color: black; }
  }
  &.-light-azure {
    background-color: #E7F1F1;
    .quote, .author { color: black; }
  }

  .quote {
    font-size: 22px;
    line-height: 42px;
    color: white;
  
    @include media-below(md) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  .author {
    margin-top: 40px;
    font-size: 22px;
    line-height: 42px;
    font-weight: 700;
    color: white;

    @include media-below(md) {
      margin-top: 36px;
      font-size: 18px;
      line-height: 32px;
    }
  }
}


.container.-fluid {
  padding: 0;
  width: 100%;
  max-width: 100%;

  &.container-md,
  .container-md {
    padding: 0;

    @include media-below(md) {
      flex: unset;
      width: 100%;
      max-width: 720px;
      padding-right: 15px !important;
      padding-left: 15px !important;
      margin-right: auto;
      margin-left: auto;
    }
    @include media-below(sm) {
      padding-right: 25px !important;
      padding-left: 25px !important;
      max-width: 540px;
    }
    @include media-below(xs) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &.-p-left { padding-left: 7vw; }
  &.-p-right { padding-right: 7vw; }

  &.-row-normal .row {
    margin-left: -25px;
    margin-right: -25px;

    > * {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include media-below(md) {
    &.-p-left { padding-left: 0; }
    &.-p-right { padding-right: 0; }
  }

  .row {
    margin-left: -4vw;
    margin-right: -4vw;

    > * {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}



.post-single-content {
  padding-top: 200px;
  padding-bottom: 80px;
  width: 100%;

  @include media-below(md) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .trees-block {
    overflow: hidden;
    width: 100%;
  }

  .elementor-section:not(:first-child) {
    .trees-block:not(.post-mt-) {
      margin-top: 180px;
      
      @include media-below(md) {
        margin-top: 100px;
      }
    }
  }


  .trees-block {
    strong {
      font-weight: 700;
    }

    a {
      font-weight: 500;
      color: #0000FF;
    }

    img {
      width: 100%;
      height: auto;
    }
  
    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;
  
      @include media-below(md) {
        font-size: 32px;
        line-height: 48px;
      }
    }
  
    p {
      margin-top: 44px;
      font-size: 21px;
      font-weight: 300;
      line-height: 42px;
      
      @include media-below(md) {
        font-size: 16px;
        line-height: 34px;
        margin-top: 30px;
      }
    }
  }
}


.trees-block {
  .text-content {
    > * {
      margin-top: 44px;

      @include media-below(md) {
        margin-top: 28px;
      }
    }
    > *:first-child {
      margin-top: 0;
    }
  }
}


.trees-block {
  &-post_content_left {
    .row {
      margin-top: -40px;
      margin-bottom: -40px;

      > * {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &.-with-bg {
      padding-top: 80px;
      padding-bottom: 80px;

      @include media-below(md) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
  }

  &-post_content_right {
    .row {
      margin-top: -40px;
      margin-bottom: -40px;

      > * {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    &.-with-bg {
      padding-top: 80px;
      padding-bottom: 80px;

      @include media-below(md) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
  }

  .text-content {
    &.-dark {
      color: black;
      h2, p { color: black; }
    }

    &.-light {
      color: white;
      h2, p { color: white; }
    }
  }


  &-post_cta {
    .wrapper {
      padding-top: 200px;
      padding-bottom: 200px;
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;

      @include media-below(md) {
        padding-top: 130px;
        padding-bottom: 130px;
      }
    }

    .title {
      font-size: 48px;
      line-height: 1.2;
      font-weight: 500;
      
      @include media-below(md) {
        font-size: 34px;
        text-align: center;
      }
    }

    .button {
      text-align: center;

      @include media-below(md) {
        margin-top: 40px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-transform: uppercase;
        color: white;
        padding: 15px;
        width: 140px;
        height: 140px;
        background-color: var(--color-red);
        font-size: 14px;
        line-height: 1.1;
        font-weight: 500;
      }
    }
  }
  
  &-post_features {
    .row {
      margin: -20px !important;
      > * { padding: 20px !important; }

      @include media-below(md) {
        margin: 0 !important;
        > * { padding: 0 !important; }
      }
    }

    .content {
      background-color: #F7F7F7;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 300px;
      width: 100%;
      padding: 40px 60px;
      
      @include media-below(md) {
        padding: 40px 40px;
        height: 260px;
      }
    }

    .title {
      font-size: 28px;
      line-height: 1.4;
      font-weight: 500;
      letter-spacing: 0.04;

      @include media-below(md) {
        font-size: 21px;
      }
    }
  }


  &-post_two_colums_text {
    .row {
      margin-top: -40px;
      margin-bottom: -40px;

      > * {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }

  &-post_title_text {
    .title {
      font-size: 32px !important;
      line-height: 39px !important;
      font-weight: 700;
  
      @include media-below(md) {
        font-size: 32px !important;
        line-height: 48px !important;
        margin-bottom: 20px;
      }
  
      &::after {
        content: '';
        display: block;
        width: 78px;
        height: 1px;
        background-color: black;
        margin-top: 40px;
  
        @include media-below(md) {
          display: none;
        }
      }
    }
  
    .text-content {
      @include media-below(md) {
        margin-top: 0 !important;
      }
    }
  }

  &-post_media {
    .image {

      img {}
    }
  }
}


.post-mt {
  &-0 { margin-top: 0 !important; }
  &-sm { margin-top: 60px !important; }
  &-md { margin-top: 140px !important; }
  &-lg { margin-top: 200px !important; }

  @include media-below(md) {
    &-sm { margin-top: 60px !important; }
    &-md { margin-top: 100px !important; }
    &-lg { margin-top: 120px !important; }
  }
}


.related-posts {
  padding: 0 !important;

  .container {
    padding-top: 120px;
    padding-bottom: 20px;

    @include media-below(md) {
      // padding-top: 80px !important;
      padding-bottom: 80px !important;
    }
  }

  &__title {
    border-top: 1px solid black;
    font-size: 32px;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 30px;

    @include media-below(md) {
      display: none;
    }
  }

  .sectionLink {
    display: none;

    @include media-below(md) {
      display: block;
    }
  }
}
