.services-page-info {
  &__section {
    padding-top: rem(300px);
    padding-bottom: rem(300px);

    @include media-below(md) {
      padding-top: rem(120px);
      padding-bottom: rem(140px);
    }
  }

  &__bottom {
    margin-top: rem(160px);
    margin-left: rem(-50px);
    margin-right: rem(-50px);

    @include media-below(md) {
      margin-top: rem(140px);
    }

    > * {
      padding-left: rem(50px);
      padding-right: rem(50px);
    }
  }

  &__image {
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include media-below(md) {
      margin-top: rem(80px);
    }
  }

  &__subtitle {
    font-size: rem(14px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text-teal);
    letter-spacing: 0.2em;
    margin-bottom: rem(40px);

    @include media-below(md) {
      font-size: rem(10px);
      margin-bottom: rem(22px);
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    
    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
      font-weight: 700;
    }
  }

  &__text {
    margin-top: rem(16px);

    a {
      font-size: rem(18px);
      font-weight: 700;
      color: black;

      &::before {
        content: "\\";
        font-size: rem(18px);
        font-weight: 700;
        margin-left: rem(12px);
        margin-right: rem(12px);
        color: var(--color-orange);
      }
    }

    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;

      @include media-below(md) {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }

    p + p {
      margin-top: 1.4rem;
    }
  }
}



.services-page-services__content + .services-page-services__content {
  margin-top: rem(60px);
}

.services-page-services {
  &__section {
    padding-top: rem(160px);
    padding-bottom: rem(160px);

    @include media-below(md) {
      padding-top: rem(100px);
      padding-bottom: rem(100px);
    }

    .container > div:last-child {
      border-bottom: rem(1px) solid black;
      padding-bottom: rem(60px);
    }
  }

  &__subtitle {
    display: block;
    font-size: rem(14px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text-teal);
    letter-spacing: 0.2em;
    margin-bottom: rem(40px);

    @include media-below(md) {
      font-size: rem(10px);
      margin-bottom: rem(22px);
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 500;
    margin-bottom: rem(80px);
    
    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
      font-weight: 700;
    }
  }


  &__content {
    padding-top: rem(60px);
    border-top: rem(1px) solid black;
  }

  &__item__title {
    font-size: rem(42px);
    line-height: rem(51px);
    font-weight: 700;
    padding-right: rem(120px);

    @include media-below(lg) {
      padding-right: 0;
    }
    
    @include media-below(md) {
      font-size: rem(26px);
      line-height: rem(31px);
      font-weight: 700;
      margin-bottom: rem(20px);
    }
  }

  &__item__text {
    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;

      @include media-below(md) {
        font-size: rem(18px);
        line-height: rem(28px);
      }
    }

    p + p {
      margin-top: 1.4rem;
    }
  }
}


.services-page-clients {
  &__section {
    padding-top: rem(200px);
    padding-bottom: rem(200px);

    @include media-below(md) {
      margin-bottom: rem(100px);
    }

    @include media-below(sm) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: rem(42px);
    line-height: rem(56px);
    font-weight: 700;
    color: white;

    @include media-below(md) {
      font-size: rem(32px);
      line-height: rem(44px);
    }

    &::after {
      content: '';
      display: block;
      width: rem(78px);
      height: rem(1px);
      background-color: white;
      margin-top: rem(50px);

      @include media-below(md) {
        display: none;
      }
    }
  }

  &__text {
    p {
      font-size: rem(24px);
      line-height: rem(42px);
      font-weight: 300;
      color: white;
    }

    @include media-below(md) {
      margin-top: rem(36px);

      p {
        font-size: rem(16px);
        line-height: rem(34px);
      }
    }
  }


  &__grid {
    margin-top: rem(120px) !important;
    margin: rem(-80px) rem(-100px);

    > * {
      padding: rem(80px) rem(100px);
    }
  }

  &__item {
    .image {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
