.img-w-85 img {
  width: 85% !important;
}

.img-w-75 img {
  width: 75% !important;
}

.img-w-65 img {
  width: 65% !important
}

.trees-block-post_cta .button a {
  text-decoration: none;
}

.img-align-center .portfolio-feature__image__wrap,
.img-align-center .image {
  text-align: center !important;
}

@include media-below(md) {
  .md\:d-flex {
    display: flex !important;
  }
  .md\:flex-wrap {
    flex-wrap: wrap !important;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: var(--font-primary);
  color: var(--font-dark);
  line-height: 1;
  font-size: $font-size;

  @media (min-width: 1400px) { font-size: 0.96vw; }
  @media (min-width: 1600px) { font-size: 0.90vw; }
  @media (min-width: 1900px) { font-size: 0.86vw; }
}

body {
  background-color: white;
  font-family: var(--font-primary);
  overflow-x: hidden;
  color: black;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: $font-size;
  line-height: rem(32px);
}


.container {
  @media (min-width: 1260px) {
    max-width: rem(1200px);
  }

  @media (min-width: 1300px) {
    max-width: 100%;
    padding-left: rem(160px);
    padding-right: rem(160px);
  }

  @media (min-width: 1600px) {
    padding: 0;
    padding-left: rem(15px);
    padding-right: rem(15px);
    max-width: rem(1500px);
  }

  @media (min-width: 1700px) {
    padding: 0;
    padding-left: rem(15px);
    padding-right: rem(15px);
    max-width: rem(1600px);
  }
  
  @include media-below(sm) {
    padding-right: rem(24px);
    padding-left: rem(24px);
  }
}

.container.-fluid {
  padding: 0;
  width: 100%;
  max-width: 100%;

  &.container-md,
  .container-md {
    padding: 0;

    @include media-below(md) {
      flex: unset;
      width: 100%;
      max-width: rem(720px);
      padding-right: rem(15px) !important;
      padding-left: rem(15px) !important;
      margin-right: auto;
      margin-left: auto;
    }
    @include media-below(sm) {
      padding-right: rem(25px) !important;
      padding-left: rem(25px) !important;
      max-width: rem(540px);
    }
    @include media-below(xs) {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &.-p-left { padding-left: 8vw; }
  &.-p-right { padding-right: 8vw; }

  &.-row-normal .row {
    margin-left: rem(-25px);
    margin-right: rem(-25px);

    > * {
      padding-left: rem(25px);
      padding-right: rem(25px);
    }
  }

  @include media-below(lg) {
    max-width: 60rem;
    &.-p-left { padding-left: 15px; }
    &.-p-right { padding-right: 15px; }
  }

  @media (min-width: 1600px) {
    &.-p-left  { padding-left:  rem(160px); }
    &.-p-right { padding-right: rem(160px); }
  }

  @include media-below(md) {
    &.-p-left { padding-left: 0; }
    &.-p-right { padding-right: 0; }
  }

  .row {
    margin-left: -4vw;
    margin-right: -4vw;

    > * {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
}

.single-portfolio-page {
  @media (min-width: 1600px) {
    .container.-fluid {
      &.-p-left {
        padding-left: 16.2rem !important;
      }
      &.-p-right {
        padding-right: 16.2rem !important;
      }
    }
  }
}


.row {
  margin-right: rem(-15px);
  margin-left: rem(-15px);

  > * {
    padding-right: rem(15px);
    padding-left: rem(15px);
  }
}

::selection {
  // color: white;
  // background-color: var(--accent-color);
  // text-shadow: none;
}

.barba-container {
}

main {
  overflow-x: hidden;
  background-color: white;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.pointer-events {
  &-none { pointer-events: none !important; }
  &-auto { pointer-events: auto !important; }
}

.img-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  transition: color 0.1s ease-out;

  &:hover {
    text-decoration: none;
    color: var(--color-teal) !important;
  }
}

.img-image-ratio {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.y-space {
  margin-top: rem(-20px);
  margin-bottom: rem(-20px);

  > * {
    padding-top: rem(20px);
    padding-bottom: rem(20px);
  }
}



.row {
  &.-fluid {
    position: unset;

    &.-services-row-fluid {
      @include media-below(sm) {
        position: relative;
        left: -9px;
        right: -9px;
        width: calc(100% + 48px);
        margin-top: 100px;
        margin-bottom: 60px;
      }
    }
  }

  &__side {
    position: absolute;

    &.-left {
      left: 0;
      padding-left: 0 !important;

      @include media-below(md) {
        padding-right: 0 !important;
      }
    }
    
    &.-right {
      right: 0;
      padding-right: 0 !important;

      @include media-below(md) {
        padding-left: 0 !important;
      }
    }
  }

  @include media-below(md) {
    &__side {
      position: relative;
      width: 100%;

      &.-mobile-padding {
        padding-left: rem(60px) !important;
        padding-right: rem(60px) !important;
      }

      &.-mobile-padding-sm {
        padding-left: rem(50px) !important;
        padding-right: rem(50px) !important;
      }
    }
  }
}

.container {
  overflow: hidden;
}

.y-space-big + .y-space-big {
  margin-top: rem(200px);
}


.text {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}



.text-grey {
  color: rgba(black, 0.6);
}

.bg-grey {
  background-color: #F7F7F7;
}

@include media-below(md) {
  .md\:bg-grey {
    background-color: #F7F7F7;
  }
}

h1, h2, h3, h4, h5, h6 {
  transition: color 0.25s ease-out;
  color: black;
}

button,
a,
p {
  transition: color 0.25s ease-out;
  color: black;
}


.row.x-gap-20 {
  margin-left: rem(-10px);
  margin-right: rem(-10px);

  > * {
    padding-left: rem(10px);
    padding-right: rem(10px);
  }
}
