html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: var(--font-primary);
  color: var(--font-dark);
  line-height: 1;
  font-size: $font-size;

  @media (min-width: 1600px) { font-size: 0.94vw; }
  @media (min-width: 1800px) { font-size: 0.92vw; }
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
  color: black;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: $font-size;
  line-height: rem(32px);
}

.container {
  @media (min-width: 1260px) {
    // max-width: rem(1200px);
    max-width: rem(1200px);
  }

  @media (min-width: 1460px) {
    max-width: rem(1400px);
  }

  @media (min-width: 1660px) {
    max-width: rem(1600px);
  }
  
  @include media-below(sm) {
    padding-right: rem(24px);
    padding-left: rem(24px);
  }
}

.row {
  margin-right: rem(-15px);
  margin-left: rem(-15px);

  > * {
    padding-right: rem(15px);
    padding-left: rem(15px);
  }
}

::selection {
  // color: white;
  // background-color: var(--accent-color);
  // text-shadow: none;
}

.barba-container {
}

main {
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.pointer-events {
  &-none { pointer-events: none !important; }
  &-auto { pointer-events: auto !important; }
}

.img-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  transition: color 0.1s ease-out;

  &:hover {
    text-decoration: none;
    color: var(--color-teal) !important;
  }
}

.img-image-ratio {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.y-space {
  margin-top: rem(-20px);
  margin-bottom: rem(-20px);

  > * {
    padding-top: rem(20px);
    padding-bottom: rem(20px);
  }
}



.row {
  &.-fluid {
    position: unset;
  }

  &__side {
    position: absolute;

    &.-left {
      left: 0;
      padding-left: 0 !important;

      @include media-below(md) {
        padding-right: 0 !important;
      }
    }
    
    &.-right {
      right: 0;
      padding-right: 0 !important;

      @include media-below(md) {
        padding-left: 0 !important;
      }
    }
  }

  @include media-below(md) {
    &__side {
      position: relative;
      width: 100%;

      &.-mobile-padding {
        padding-left: rem(60px) !important;
        padding-right: rem(60px) !important;
      }
    }
  }
}

.container {
  overflow: hidden;
}

.y-space-big + .y-space-big {
  margin-top: rem(200px);
}


.text {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}





body {
  background-color: white;
  transition: background-color 0.25s ease-out;

  .text-grey {
    color: rgba(black, 0.6);
  }

  .bg-grey {
    background-color: #F7F7F7;
  }
  
  h1, h2, h3, h4, h5, h6 {
    transition: color 0.25s ease-out;
    color: black;
  }

  button,
  a,
  p {
    transition: color 0.25s ease-out;
    color: black;
  }

  .theme-dark-hidden {
    position: relative;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }
  
  &.dark-theme {
    background-color: black;

    .theme-dark-hidden {
      pointer-events: auto;
      opacity: 1;
    }

    .text-grey {
      color: rgba(white, 0.4);
    }

    .bg-grey {
      background-color: rgba(white, 0.15);
    }
  
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }

    button,
    a,
    p {
      color: white;
    }
  }
}
