:root {
  // --font-primary: 'Colfax', sans-serif;
  --font-primary: 'Inter', sans-serif;

  --color-text-teal: #0087A2;

  --color-black: #000000;
  --color-blue: #2D6A8B;
  --color-teal: #398493;
  --color-beige: #EDD4AF;
  --color-orange: #DA6E47;
  --color-red: #D44B36;
}
