$font-size: 16px;

:root {
  --font-primary: 'Colfax', sans-serif;

  --color-text-teal: #0087A2;

  --color-black: #000000;
  --color-blue: #2D6A8B;
  --color-teal: #0087A2;
  --color-beige: #EDD4AF;
  --color-orange: #DA6E47;
  --color-red: #D44B36;
}
