/*--------------------------------------------------
	15.2. Navigation background
---------------------------------------------------*/

.nav {
  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;

    overflow-y: auto;

    @include media-below(md) {
      overflow-y: auto;
    }
    
    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;

    &__left {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 70%;
      width: 100%;
      background-color: #141414;
      transform-origin: left;
    }

    &__right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 30%;
      background-color: black;
      transform-origin: bottom;

      @include media-below(md) {
        background-color: transparent;
      }
    }

    &__colors {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 30%;
      height: rem(10px);
      display: flex;
      transform-origin: top;
      
      @include media-below(md) {
        height: rem(8px);
        width: 100%;
      }

      span {
        height: 100%;
        width: 100%;
      }

      span:nth-child(1) { background-color: var(--color-blue); }
      span:nth-child(2) { background-color: var(--color-teal); }
      span:nth-child(3) { background-color: var(--color-beige); }
      span:nth-child(4) { background-color: var(--color-orange); }
      span:nth-child(5) { background-color: var(--color-red); }
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    overflow: hidden;
  }


  &__header {
    position: absolute;
    top: rem(80px);
    padding: 0 rem(50px);
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include media-below(md) {
      top: rem(30px);
      padding: 0 rem(25px);
    }
    
    .nav-logo {
      display: flex;
      justify-content: flex-end;

      img {
        width: 100%;
        max-width: rem(100px);
        min-width: rem(88px);
      }
      
      @include media-below(md) {
        img {
          width: 40%;
        }
      }
    }
  }

  &__header__buttons {
    position: relative;

    .nav-btn-close {}

    .nav-form-close {
      position: absolute;
      top: 0;
      left: 0;
    }

    .icon {
      color: white;
      width: rem(48px);
      height: rem(48px);
      stroke-width: 1;
      position: relative;
      left: rem(-8px);

      @include media-below(sm) {
        width: rem(48px);
        height: rem(48px);
      }
    }
  }
}



.nav__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  
  &__left {
    padding-left: rem(130px);
    padding-bottom: rem(40px);
    position: relative;
    flex: 0 0 70%;
    max-width: 70%;
  }

  &__right {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: rem(80px);
    padding-left: rem(60px);
    padding-right: rem(60px);
    flex: 0 0 30%;
    max-width: 30%;
  }

  @include media-below(md) {}
}


@include media-below(md) {
  .nav__content {
    &__left {
      padding-left: 0;
      padding-bottom: rem(40px);
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: rem(140px);
      height: 70vh;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__right {
      position: relative;
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      height: unset;

      // padding-top: rem(40px);
      align-items: center;
      height: 30vh;
    }

    &__right__mobile__bg {
      background-color: black;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform-origin: bottom;
    }
  }
}



.nav__info {
  &__item {
    overflow: hidden;
    margin-top: rem(48px);

    &:first-child {
      margin-top: 0;
    }

    h5 {
      font-size: rem(14px);
      color: rgba(white, 0.6);
    }

    a, p {
      display: block;
      font-size: rem(18px);
      
      @include media-below(md) {
        font-size: rem(16px);
      }
    }
  }

  &__content {
    > * { margin-top: rem(4px); }
    > *:last-child { margin-top: 0; }
  }

  @include media-below(md) {
    &__item {
      margin-top: rem(32px);
    }
  }
}
