.nav-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 20;
  overflow-y: auto;

  @include media-below(md) {
    width: 100vw;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--color-red);
    transform-origin: left;
  }

  &__content {
    position: relative;
    padding-top: rem(110px);
    padding-bottom: rem(30px);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    padding-left: rem(180px);
    padding-right: rem(160px);

    @include media-below(xl) {
      padding-right: rem(100px);
      padding-left: rem(160px);
    }
    @include media-below(md) {
      padding-top: rem(100px);
      padding-left: rem(80px);
      padding-right: rem(80px);
    }
    @include media-below(sm) {
      padding-top: rem(120px);
      padding-left: rem(30px);
      padding-right: rem(30px);
    }
  }

  &__close {
    position: absolute;
    top: rem(80px);
    left: rem(50px);

    button {}

    .icon {
      color: white;
      width: rem(48px);
      height: rem(48px);
      stroke-width: 1;
      position: relative;
      left: rem(-8px);

      @include media-below(sm) {
        width: rem(48px);
        height: rem(48px);
      }
    }
  }

  &__header {
    // height: 15%;
  }

  &__title {
    font-size: rem(44px);
    line-height: 1.1;
    font-weight: 500;
    color: white;

    @include media-below(xl) {
      // font-size: rem(44px);
    }

    @include media-below(md) {
      font-size: rem(28px);
      font-weight: 700;
    }
  }

  &__link {
    display: block;
    font-size: rem(16px);
    line-height: 1;
    font-weight: 300;
    color: white;
    margin-top: rem(10px);
    
    @include media-below(md) {
      margin-top: rem(16px);
    }
  }

  &__form {
    // height: 85%;
    // margin-top: rem(52px);
    margin-top: 10vh;
    margin-top: 2vh;

    @include media-below(lg) {
      margin-top: rem(52px);
    }

    .nf-form-content {
      padding: 0;
    }

    .nf-before-form-content { display: none !important; }
    .nf-after-form-content { display: none !important; }
  }

  form .nf-field-container {
    padding: 0 !important;

    .ninja-forms-req-symbol {
      display: none !important;
    }

    .nf-field-label {
      margin: 0 !important;

      @include media-below(md) {
        line-height: 1 !important;
      }
    }

    label {
      font-size: rem(24px) !important;
      line-height: 1 !important;
      font-weight: 300 !important;
      margin-bottom: rem(4px) !important;
      margin-bottom: 0 !important;
      color: white !important;
      
      @include media-below(md) {
        margin-bottom: rem(0px) !important;
        font-size: rem(18px) !important;
      }
      
      @media only screen and (max-width: 799.98px) {
        margin-bottom: rem(0px) !important;
      }
    }

    textarea, input:not([type="submit"]):not([type="button"]) {
      border: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      background-color: transparent !important;

      width: 100% !important;
      max-width: 100% !important;
      display: block !important;
      border-bottom: rem(1px) solid white !important;
      padding: rem(14px) 0 !important;
      color: white !important;
      font-size: rem(14px) !important;
      line-height: 1.3 !important;
      height: auto !important;

      @include media-below(md) {
        width: 100% !important;
      }

      &::placeholder {
        color: rgba(white, 0.4) !important;
      }
    }


    .field-wrap .nf-field-element:after {
      width: rem(32px);
      height: rem(32px);
      line-height: 1;

      right: 0;
      bottom: 50%;
      top: unset;
      transform: translateY(50%);
      background-color: rgb(155, 0, 0);
      color: white;
      font-size: rem(20px);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nf-pass.field-wrap .nf-field-element:after {
      background-color: rgb(0, 126, 0);
    }

    .nf-error-wrap.nf-error {
      
      .nf-error-msg {
        background-color: rgb(155, 0, 0);
        color: white;
        font-weight: 500;
        width: 100%;
        margin-top: rem(12px);
        padding: rem(6px) rem(10px);
        font-size: rem(14px);
        line-height: 1.2;
      }
    }
  }

  .nf-response-msg {
    p {
      color: white;
      line-height: 1.3;
    }

    p + p {
      margin-top: rem(16px);
    }
  }

  .nf-field-container {
    margin: 0 !important;
    margin-top: rem(52px) !important;
    
    @include media-below(md) {
      margin-top: rem(37px) !important;
    }
  }

  .nf-form-content > * > *:first-child .nf-field-container {
    margin-top: 0 !important;
  }

  .nf-form-content {
    max-width: 100%;
    margin: 0;
  }

  .submit-container {
    margin-top: rem(48px) !important;

    @include media-below(md) {
      display: flex !important;
      justify-content: center !important;
    }

    input {
      text-transform: uppercase !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: rem(86px) !important;
      height: rem(86px) !important;
      padding: rem(20px) !important;
      border-radius: 100% !important;
      background-color: white !important;
      color: var(--color-orange) !important;
      font-size: rem(14px) !important;
      line-height: 1 !important;
      font-weight: 500 !important;

      @include media-below(md) {
        width: rem(95px) !important;
        height: rem(95px) !important;
      }
    }

    input[value="Send"] {}
  }
}


.nav-form form .nf-field-container.listradio-container {
  .field-wrap {
    display: flex;
    align-items: center;
  }

  .nf-field-label {
  }

  .nf-field-element {
    margin-left: rem(24px);
  }

  .nf-field-element ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    margin: rem(-5px);
  }

  .nf-field-element li {
    padding: 0;
    margin: 0;

    position: relative;
    padding: rem(5px);

    input {
      display: none !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    label {
      cursor: pointer;
      text-transform: uppercase;
      font-size: rem(13px) !important;
      font-weight: 500 !important;
      padding: rem(8px) rem(16px);
      border: 1px solid white;
      color: white !important;
      border-radius: 200px;
      transition: all 0.15s ease-out;
    }

    input:checked + label {
      background-color: white !important;
      color: var(--color-red) !important;
    }
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
