/*--------------------------------------------------
	15.3. Navigation list
---------------------------------------------------*/

.navList {
  margin: 0;
  margin-top: -rem(8px);
  list-style: none;
  padding: 0;

  @include media-below(md) {
    text-align: center;
  }
  
  li a {
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: rem(22px) 0;
    font-size: rem(50px);
    line-height: 1;
    font-weight: 700;
    
    @include media-below(md) {
      font-size: clamp(25px, 5vw, 40px);
      padding: rem(16px) 0;
    }

    &:hover {
      text-decoration: none;
      color: var(--color-teal);
    }
  }
}

.navList__wrap {
	li {
    overflow: hidden;
  }

  a {
    &:hover {}
  
    &:not([href]):not([tabindex]) {}
  }
}

.subnav-list {
  position: absolute;
  top: rem(-8px);

  li a {
    transform: translateY(100%);
    font-size: rem(44px);

    @include media-below(md) { font-size: rem(36px); }
    @include media-below(xs) { font-size: rem(32px); }
  }
}


.navList {
	.menu-item-has-children > a::after {
    display: inline-block;
    vertical-align: middle;
		font-family: 'icomoon' !important;
		font-style: normal;
    font-weight: normal;
    
    font-size: rem(14px);
    color: rgba(white, 0.4);
    
		transition:
			color 0.3s ease-in-out,
			transform 0.3s ease-in-out;
	}

	.menu-item-has-children > a {
		&::after {
			content: "\e900";
      margin-left: rem(20px);
		}

		&:hover::after {
			color: var(--accent-color);
			transform: translateX(rem(10px));
		}
	}
}


.nav-copyright {
  display: flex;
  align-items: center;

  @include media-below(md) {
    display: none;
  }

  .icon {
    fill: white;
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(8px);
  }

  p {
    font-size: rem(16px);
  }
}

.nav__info {
  p, a {
    color: white !important;
  }
  
  @include media-below(md) {
    text-align: center;
  }
}

.nav-social {
  // display: flex;

  &__item {
    font-weight: 700;
  }

  > div {
    display: inline-block;
  }

  a {
    display: inline-block;
  }

  > div + div {
    &::before {
      font-weight: 700;
      display: inline-block;
      content: '\\';
      color: var(--color-red);
      margin: 0 rem(8px);
    }
  }

  a {
    font-size: rem(14px);
    color: white;
  }
}
